@media screen and (min-width: 428px) {
    .container {
        max-width: 398px;
    }
       
       
    


}
/* -----------------------TAB-------------------------------- */


@media screen and (min-width: 768px) {
    .container {
        max-width: 738px;

    }
        .mob-menu {
            display: none;
        }
        .hamburger-btn {
            display: none;
        }
        .page-adress {
            font-style: normal;
            display: flex;
        }
    
        .page-nav {
            display: flex;
            align-items: center;
        }
    
        .list-nav {
            display: flex;
        
            align-items: center;
            gap: 40px;
        }
    
        .link-nav {
            display: flex;
            list-style: none;
        }
    
        .list-adress {
            display: flex;
            align-items: center;
            /* gap: 40px; */
            gap: 12px;
            justify-content: flex-end;
            flex-wrap: wrap
            
        }
    
        .link-adress {
            list-style: none;
    
        }
    
        .navigation {
            font-weight: 500;
            font-size: 16px;
            text-decoration: none;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--navyblue, #2E2F42);
            list-style: none;
            padding: 24px 0;
            margin: 0 auto;
            position: relative;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
        .current {
            position: relative;
            color: var(--ocean);
        }
    
        .current::after {
            content: "";
            left: 0;
            position: absolute;
            bottom: -1px;
            height: 4px;
            background-color: var(--ocean);
            border-radius: 2px;
            width: 100%;
        }
    
        .navigation:active {
            color: var(--ocean, #404BBF);
        }
    
        .navigation:focus {
            color: var(--ocean, #404BBF)
        }
    
        .navigation:hover {
            color: var(--ocean, #404BBF)
        }
    
    
        .adress {
            color: var(--primary-text-color);
            text-decoration: none;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            list-style: none;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .adress:active {
            color: var(--ocean, #404BBF);
        }
    
        .adress:focus {
            color: var(--ocean, #404BBF);
        }
    
        .adress:hover {
            color: var(--ocean, #404BBF)
        }
        .main-page-section {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tab.jpg);
        }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .main-page-section {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tab2x.jpg)
            }
        }

    .list-advantages {
        padding: 96px 0;
        gap: 72px 24px;
    }

    .item-advantage {
        width: calc((100% - 24px) / 2);
    }

    .advantage {
        text-align: left;
    }

    .team {
        padding: 96px 0;
    }

    .list-team {
        gap: 64px 24px;

    }

    .photo-member {
        width: calc((100% - 24px) / 2);
        max-width: 264px;

    }

    .customers-list {
        gap: 72px 24px;
    }

    .customers-item {
        width: calc((100% - 48px) / 3)
    }
    .div-footer {
        max-width: 584px;
        padding: 0 16px;
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        padding-bottom: 0;
        text-align: left;
        align-items: center;
        justify-content: space-between;
        
    }
    .subscribe-form {
        display: flex;
        

        }
    .social-media-list {
        margin: 0 auto;
    }
        .text-footer {
            padding-bottom: 0;
        }
    .div-footer-first {
        text-align: left;
    }
    .div-footer-third {
        align-items: baseline;
        
    }
     .input-subscribe {
        min-width: 268px;
        padding: 16px;
     }
    .page-title {
        font-size: 56px;
        line-height: 1.07;
         }
}
/* ------------------DESKTOP----------------------------- */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
        .list-adress {
            gap: 40px;
        }
 .main-page-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    padding: 188px 0;
}
 
 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .main-page-section {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 2x.jpg);
     }
 }
    .advantage {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
   

    .list-advantages {
        gap: 24px;
        padding: 120px 0;
    }

    .item-advantage {
        width: calc((100% - 72px) / 4);
    }

    .icon-adv {
        display: flex;
    }

    .advantage-section {
        padding: 0;
    }

    .doing-section {
        display: flex;
    }

    .team {
        padding: 120px 0;

    }
    
    .photo-member {
        width: calc((100% - 72px) / 4);
    }

    .list-team {
        gap: 24px;
    }

    .customers {
        padding: 120px 0;
    }

    .customers-list {
        gap: 24px;
    }

    .customers-item {
        width: calc((100% - 120px) / 6)
    }
     .page-footer {
        padding: 100px 0;
     }
    .div-footer {
        display: flex;
        padding: 0;
        align-items: baseline;
        gap: 0px;
       
    }
     .div-footer-first {
        margin-right: 120px;
        text-align: left;
     }
     .text-footer {
        max-width: 264px;
     }
    .div-footer-third {
         padding-left: 80px;
    }
    .input-subscribe {
        width: 264px;
    }
    
        
}